/* WatchListPage.css */
.watchlist-page {
  padding: 20px;
  text-align: center;
  background-color: #121212; /* Dark background for dark mode */
}

.watchlist-page h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  color: #ffffff; /* Light text color */
}

.watchlist-movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.watchlist-movie-card {
  background-color: #333333; /* Dark background for the card */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  text-align: center;
  transition: transform 0.2s;
  max-width: 300px;
  margin: 20px auto;
  color: #e0e0e0; /* Light text color */
}

.watchlist-movie-card h3 {
  font-size: 0.7em;
  margin: 15px 10px;
  height: 3em; /* Fixed height for two lines of text */
  line-height: 1.5em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff; /* Light text color for the title */
}

.watchlist-movie-card img {
  width: 100%;
  height: auto;
  display: block;
}

.watchlist-movie-card p {
  font-size: 0.7em;
  color: #bbbbbb; /* Light text color for the description */
  padding: 10px;
  margin: 0;
}
